.songlist-component {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 370px;
  z-index: 99999;
  .songlist-header {
    display: flex;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: rgba(#1b212a, 0.85);
    border-bottom: 1px solid#676c74;
    .iconfont {
      flex: 0 0 auto;
      margin: 0 20px;
      font-size: 24px;
    }
    .songlist-length {
      color: #8e949b;
    }
  }
  .songlist-list {
    min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;
    background: rgba(#1e242d, .85);
    .songlist-item {
      position: relative;
      display: flex;
      padding-left: 20px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid#646a73;
      box-sizing: border-box;
      color: #fff;
      .songlist-item-song {
        flex: 0 0 auto;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .songlist-item-singer {
        color: #8e949b;
        margin-right: 60px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon-delete {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: #8e949b;
      }
    }
  }
  .songlist-footer {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: rgba(#2c2f37, 0.9);
    text-align: center;
  }
}