html,
body,
#root {
  font-size: 14px;
  height: 100%;
  font-family: SF Pro Display, Roboto, Helvetica Neue, Arial, PingFang SC, Source Han Sans, Microsoft Yahei;
}

.router-wrap {
  margin-bottom: 60px;
}