.playlist-component {
  .playlist-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 3;
    text-align: center;
  }
  .playlist-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: space-around;
    .playlist-item {
      width: 33%;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
      }
      .playlist-name {
        margin: 5px;
        box-sizing: border-box;
        line-height: 1.5;
        color: #333;
      }
    }
  }
}