.album-info {
  .album-info-box {
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
  }
  .album-info-backImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(36px);
  }
  .album-info-section {
    position: relative;
    color: #fff;
    z-index: 4;
    background: rgba(0,0,0,.5);
    border: none;
    display: flex;
    
    display: flex;
    width: 100%;
    padding: 17px 16px 0;
    font-weight: 300;
    overflow: hidden;
    box-sizing: border-box;
    .album-info-cover {
      position: relative;
      width: 125px;
      margin-right: 10px;
      overflow: hidden;
      flex: 0 0 auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .album-info-name-author {
      margin: auto 0;
      .album-info-name {
        max-height: 47px;
        line-height: 1.3;
        overflow: hidden;
        font-size: 18px;
        font-weight: 300;
      }
      .album-info-author {
        width: 100%;
        display: flex;
        margin-top: 8px;
        .author-avatar {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 100%;
        }
        .author-name {
          flex: 1;
          span {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            color: #fff;
            line-height: 24px;
          }
        }
      }
      .album-info-time {
        margin-top: 8px;
      }
    }
  }
  .opt-box {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 84px;
    z-index: 4;
    background: rgba(0,0,0,.5);
    border: none;
    .play-all-btn {
      margin: auto;
      display: inline-block;
      width: 170px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      background: #2D8CF0;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  .album-song-list-section {
    color: #777;
    .album-song-list-title {
      padding: 15px 16px 10px;
      font-weight: 300;
      .song-num {
        margin-left: 5px;
      }
    }
    .album-song-item {
      display: flex;
      .album-song-order {
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 300;
        width: 45px;
        text-align: center;
        align-self: center;
      }
      .album-song-info {
        flex: 1;
        padding: 10px 16px 10px 0;
        overflow: hidden;
        box-sizing: border-box;
        font-weight: 300;
        .album-song-name {
          font-size: 16px;
          line-height: 24px;
          color: #000;
          font-weight: 300;
        }
        .album-song-singer {
          line-height: 18px;
        }
      }
      .txt-nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .album-desc {
    padding: 0 16px;
    font-weight: 300;
    .album-desc-title {
      padding: 15px 0;
      line-height: 1.2;
      white-space: nowrap;
      letter-spacing: 5px;
      font-size: 18px;
      color: #000;
      text-align: center;
      font-weight: 300;
    }
    .album-desc-content {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.5;
      color: #777;
    }
  }
}