.miniplay-component {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 50px;
  display: flex;
  box-shadow: 0 -1px #dedede;
  
  .song-info {
    flex: 1;
    display: flex;
    align-items: center;
    .song-img {
      flex: 0 0 auto;
      margin: 0 10px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }

      &.imgRotate {
        animation: rotate 15s infinite linear;
      }
      @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
      }
    }
    .song-name-lyrics {
      flex: 1;
      .song-name {
        font-size: 14px;
        color: #333;
        line-height: 24px;
      }
      .song-lyrics {
        font-size: 12px;
        line-height: 16px;
        color: #666;
        font-weight: 300;
      }
    }
  }
  .operate-group {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .iconfont {
      font-size: 28px;
      color: #2D8CF0;
    }
    .play-control {
      flex: 1;
      margin: 0 10px;
    }
    .song-list {
      flex: 1;
      margin: 0 10px;

      .iconfont {
        font-size: 22px;
        color: #2D8CF0;
      }
    }
  }
  .song-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #2D8CF0;
  }
}