.play-component {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  background: #4f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  .play-area {
    width: 100%;
    flex: 0 0 auto;
    z-index: 999;

    &.show-lyrics-area {
      position: relative;
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .album-info-backImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(65px);
    opacity: .6;
  }
  .play-song {
    width: 100%;
    flex: 0 0 auto;
    z-index: 999;
    color: #fff;
  }
  .song-name {
    position: relative;
    font-size: 16px;
    line-height: 3;
    text-align: center;
  }
  .icon-collapse {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    transform: translateY(-50%);
    transition: all 0.15s linear;
    &.icon-lyrics {
      transform: translateY(-50%) rotate(90deg);
    }
  }
  .song-singer {
    position: relative;
    font-size: 12px;
    text-align: center;
    .singers {
      display: inline-block;
      max-width: 75%;
      white-space: nowrap;
      overflow: hidden;
    }
    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: -6px;
      width: 20px;
      height: 1px;
      border-radius: 10px;
      background: #fff;
      margin: 0 10px;
    }
  }
  .song-img {
    width: 80%;
    animation: rotate 18s infinite linear;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
      border-radius: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: 105%;
      background: #444;
      opacity: 0.6;
      border-radius: 100%;
      z-index: -1;
    }

    &.running {
      animation-play-state: running;
    }
    &.paused {
      animation-play-state: paused;
    }
    @keyframes rotate {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
    }
  }
  .lyrics-list-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: hidden;
    .song-lyrics-list {
      overflow: hidden;
      line-height: 3;
      font-size: 14px;
      text-align: center;
      &.transition {
        transition: all 0.5s linear;
      }

      &.no-transition {
        transition: all 0s linear;
      }

      .song-lyrics-item {
        &.current {
          color: #2D8CF0;
        }
      }
    }
  }
  .song-lyrics {
    position: relative;
    height: 18px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 12px;
    .transition {
      transition: all 0.5s linear;
    }
    .song-lyrics-item {
      height: 18px;
      text-align: center;

      &.current {
        color: #2D8CF0;
      }
    }
  }
  .song-progress {
    width: 100%;
    display: flex;
    align-items: center;
    .song-time {
      margin: 0 10px;
    }
    .progress-bk {
      position: relative;
      width: 100%;
      height: 2px;
      background: rgba(255,255,255,.2);
      .progress-percent {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #2D8CF0;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: -3px;
          left: 100%;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #2D8CF0;
        }
      }
    }
  }
  .lyrics-list-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .operate-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .iconfont {
      font-size: 24px;
      color: #2D8CF0;
      &.icon-prev,
      &.icon-next {
        font-size: 36px;
      }
      &.icon-stop,
      &.icon-play {
        font-size: 48px;
      }
      &.icon-list {
        font-size: 20px;
      }
    }
  }
  .area-dot-list {
    text-align: center;
    .area-dot-item {
      display: inline-block;
      margin: 0 5px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #fff;
      transition: all 0.15s linear;
  
      &.current {
        width: 16px;
        height: 8px;
        border-radius: 8px;
      }
    }
  }
}